<ul>
    <p class="titulo">La página web es totalmente inventada. Qualquier similitud con la realidad es mentira<b> ME QUEDA MUCHÍSIMO POR APRENDER y PRACTICAR.</b> <br> Muchos fallos, errrores de picar código y otras tantas que ya te he mecionado en clase o por el Empleario.</p>
    <img  src="./../../../assets/EnConstrucción.png" alt="En construcción">
    <p class="titulo">Soy un patán, lento  no, lo siguiente, me cuesta un montón aprender bien, absorver los conocimientos, aplicar todo lo aprendido ya que lo mezclo y me rayo con mil cosas. <br>
    No significa que no lo haya entendido, de  echo, eres la mejor profesora que he tenido en mi vida, y mira que he tenido.<br><br> Por eso pongo esta imagen, para que sepas que lo haré pero más adelante, a mi ritmo. <br> Sin presión alguna.</p>
</ul>