<nav>
    <!-- Menú de cabecera dónde podemos elegir que mostraremos y ejecutaremos dependiendo de lasdiferentes vistas de mi aplicación en Angular -->
    <a routerLink="/inicio"><img src="./../../../assets/icon_Inicio.svg" alt="Inicio"> Inicio </a>
    <a routerLink="/home-ecommerce"><img src="./../../../assets/icon_Ecommerce.svg" alt="Muestra de productos"> Ecommerce</a>
    <a routerLink="/acerca"><img src="./../../../assets/icon_InfoAcercaDe.svg" alt="Sobre la app"> Sobre la plataforma </a>
    <a routerLink="/servicios"><img src="./../../../assets/icon_Buscar.svg" alt="Búsqueda"> Servicios </a>
    <a routerLink="/tareas"><img src="./../../../assets/icon_Tareas.svg" alt="Tareas"> Tareas </a>
    <a routerLink="/contacto"><img src="./../../../assets/icon_Contacto.svg" alt="Contacto"> Contacto </a>
</nav>

