 <!-- Buscar regalo por ID -->

<div class="regalo-buscador">
  <h1>Buscar posible regalo por ID</h1>

  <!--  1. El usuario añade un número para buscar la receta -->
  <div class="formulario-busqueda">
    <label for="regalo-id">Ingresa el ID de la regalo:</label>
    <input
      id="regalo-id"
      type="number"
      [(ngModel)]="regaloId"
      placeholder="Regalo 1:"
    />
    <!-- 3. El usuario hace click sobre el botón -->
    <button (click)="buscarRegalo()">Buscar Regalo</button>
  </div>

  <!-- 5bis. Se muestra mensaje de error si no se encuentra la receta -->
  <div *ngIf="mensajeError" class="error">
    <p>{{ mensajeError }}</p>
  </div>

  <!-- 5. Se muestran los detalles de la receta si se encuentra -->
  <div *ngIf="regalo" class="detalles-regalo">
    <h2>Detalles del Regalo</h2>
    <p><strong>ID:</strong> {{ receta.id }}</p>
    <p><strong>Nombre:</strong> {{ regalo.nombre }}</p>
  </div>
</div>


 <!-- Buscar regalos por nombre -->
 <!-- 1-2: el usuario introduce un nombre en el input que a través del two way binding se asigna a la propiedad nombreRegalo -->
  <div class="formulario-busqueda">
    <label for="regalo-nombre">Ingresa el nombre o parte del nombre de la receta:</label>
    <input
      id="regalo-nombre"
      type="text"
      [(ngModel)]="nombreRegalo"
      placeholder="Ejemplo: Reegalo_01"
    />
        <!-- 3-2. El usuario hace click sobre el botón -->
    <button (click)="buscarRegaloNombre()">Buscar</button>
  </div>


  <div *ngIf="mensajeError" class="error">
    <p>{{ mensajeError }}</p>
  </div>
  <!-- 5-2. Se muestran los detalles de los regalos si se encuentran -->
  <div *ngIf="regalosEncontradas.length > 0" class="lista-regalos">
    <h2>Regalos Encontrados</h2>
    <ul>
      <li *ngFor="let regalo of regalosEncontradas">
        <strong>ID:</strong> {{ regalo.id }} - <strong>Nombre:</strong> {{ receta.nombre }}
      </li>
    </ul>
  </div>

