<p class="titulo">Si tienes cualquier problema, la web, el diseñador y el programador no tienen nada que ver. <br>Esto es un simple proyecto para aprender. <br>Mucho a mejorar e implementar. Disculpen las moléstias.</p>

<div class="phone-box">
    <div class="contact-box">
        <div class="contact-item">
            <i class="fas fa-phone icon"><img src="./../../../assets/icon_Telefono.svg" alt="phone"></i>
            <span >+00 000 00 00</span>
        </div>
        <div class="contact-item">
            <img src="./../../../assets/icon_Correo.svg" alt="correo"><i class="fas fa-phone icon"></i>
            <span>email@ejemplo.com</span>
        </div>
    </div>
</div>

<p class="titulo">Queda mucho por hacer:</p>
<ol class="titulo" >
    <li>Que funcione todo lo implementado hasta el momento correctamente.</li>
    <li>Añadir varias pestañas.</li>
    <li>Un buscador de productos en la barra principal.</li>
    <li>Un footer fijo en el pie de página con sus correspondientes partes y redirecciones (inicio, iconos a las redes donde encontrarme, una línia de texto donde indique la versión en creada, una de abstnción de problemas, ... ).</li>
</ol>
<p class="titulo">Mil cosas. Como ya he dicho, está <b class="destello">inacabada</b>.</p>
